:root { 
--bluegray_900_bf:#373737bf; 
--red_700:#ec1c24; 
--red_400:#f44949; 
--cyan_900_19:#00537d19; 
--light_blue_800:#007dbc; 
--black_900:#001018; 
--white_A700_ab:#ffffffab; 
--black_901:#000000; 
--red_A400:#ff2424; 
--red_A700:#ff0000; 
--gray_600:#736f6f; 
--white_A700_e5:#ffffffe5; 
--gray_601:#808080; 
--gray_103:#f5f7fa; 
--gray_202:#f0f0f0; 
--gray_301:#d9dde1; 
--gray_302:#e6e6e6; 
--gray_500:#949292; 
--white_A700_a2:#ffffffa2; 
--gray_500_a2:#9b9b9ba2; 
--gray_200:#eeeded; 
--gray_300:#e0e0e0; 
--orange_300:#ffb24d; 
--gray_201:#ebebeb; 
--gray_100:#f4f4f4; 
--bluegray_900:#333333; 
--bluegray_401:#8996a2; 
--bluegray_400:#8e8e8e; 
--black_900_19:#00000019; 
--white_A700:#ffffff; 
--indigo_500:#3d61a7; 
}